@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import 'tailwindcss';
@plugin 'daisyui';

:root {
  --font: 'Outfit', sans-serif;

  /* Colors */
  --main-bg: #f8f8f8;
  --primary: #ffffff;
  --text-clr: #000;
  --second-lvl-bg: hsl(from var(--primary) h s calc(l - 5));
  --nav-link-bg: hsl(from var(--primary) h s calc(l - 5));
  --slick-border: hsl(from var(--primary) h s calc(l - 8));
  --each-list-item-divider-clr: hsl(from var(--primary) h s calc(l - 12));
  --input-focus-border: hsl(from var(--primary) h s calc(l - 30));
  --unit-checked-bg: hsl(from var(--primary) h s calc(l - 10));
  --unit-checked-border: hsl(from var(--primary) h s calc(l - 20));

  --textarea-bg: hsl(from var(--primary) h s calc(l - 7));
}

body {
  font-family: var(--font);
  color: var(--text-clr);
  background-color: var(--main-bg);
}

/* Resets */
@media (pointer: fine) {
  button {
    cursor: pointer;
  }
}

button {
  -webkit-user-select: none;
  user-select: none;
}

/* Utils */
.h-dvh {
  height: 100vh;
  height: 100dvh;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

@keyframes outline-effect {
  0% {
    outline-color: transparent;
    outline-offset: -1px;
  }
  30% {
    outline-offset: 2px;
    outline-color: hsl(0, 0%, 70%);
  }
  100% {
    outline-offset: 5px;
    outline-color: transparent;
  }
}

.warning-effect {
  animation: warning-effect 400ms;
}

@keyframes warning-effect {
  0% {
    background-color: transparent;
  }
  20% {
    background-color: hsla(41, 100%, 50%, 0.15);
  }
  100% {
    background-color: transparent;
  }
}

.long-text {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

@keyframes blur-effect {
  0% {
    filter: blur(10px);
    scale: 1;
  }
  50% {
    filter: blur(20px);
    scale: 1.03;
  }
  100% {
    filter: blur(10px);
    scale: 1;
  }
}

/* ! Admin styling */
@media (width < 1024px) {
  .admin-sidebar {
    position: fixed;
    inset: 0;
    z-index: 10;
    background-color: hsl(0 0 0 / 0.3);
    padding: 0.5rem;
    overflow: hidden;

    display: none;
    opacity: 0;
    transition-duration: 350ms;
    transition-behavior: allow-discrete;

    .admin-sidebar-content {
      translate: -110% 0;
      scale: 0.9;

      transition-duration: 250ms;
      transition-delay: 50ms;
    }
  }
  .admin-sidebar.show {
    display: initial;
    opacity: 1;

    .admin-sidebar-content {
      translate: 0 0;
      scale: 1;
    }

    @starting-style {
      opacity: 0;

      .admin-sidebar-content {
        translate: -110% 0;
        scale: 0.9;
      }
    }
  }
}
